<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<style>
.boxer {
   display: table;
   border-collapse: collapse;
}
 
.boxer .box-row {
   display: table-row;
}
 
.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: 0px;
}
.boxer .boxr {
   display: table-cell;
   text-align: center;
   vertical-align: top;
   border: 0px;
}
</style>
<head>
<meta charset="UTF-8">
<title>Audio Review Application</title>
</head>
<body>
<h1>Audio Review App</h1>
<div class="col-md-4" style="padding:20px">
<h6>Logged in as <i><td th:text="${#httpServletRequest.remoteUser}" /></i></h6>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
		</div>
		
	<div th:if="${release}" />
	
<div class="boxer">
	<div class="box-row">
		<div class="box"><h3><span th:text="${artist}" /> - <span th:text="${title}" /></h3>
<iframe th:src="${uri}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div></div>
		<div class="box-row">
		<div class="box"><h4>Reviews</h4>		
			</div></div>
<form th:object="${review}"	th:action="@{../savereview}" action="#" method="post"> 
<input type="hidden" id="release_id" th:field="${release.id}" readonly="readonly" />
<textarea placeholder="Review this release.." id="comment" th:field="*{comment}" rows:"8" cols="80"/> 
<div style="clear: both; display: block; height: 10px;"></div>
<label for="rating">Score</label> 
<select th:field="*{score}" name="score" id="score">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
<button class="btn btn-success" title="Submit review" type="submit" value="Submit review">Submit review</button> 
</form>
<div style="clear: both; display: block; height: 15px;"></div>

<div th:each = "review : ${reviews}">
<i><span th:text="${review.comment}"/></i><br>
Score: <span th:text="${review.score}" /> / 10
<div style="clear: both; display: block; height: 20px;"></div>
</div>
</div>
</body>
</html>